@font-face {
  font-family: "iconfont";
  /* Project id 3955258 */
  src: url('//at.alicdn.com/t/c/font_3955258_f8j921bwhvv.woff2?t=1678938483551') format('woff2'), url('//at.alicdn.com/t/c/font_3955258_f8j921bwhvv.woff?t=1678938483551') format('woff'), url('//at.alicdn.com/t/c/font_3955258_f8j921bwhvv.ttf?t=1678938483551') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shouji:before {
  content: "\e692";
}
.icon-mimasuo:before {
  content: "\e6a9";
}
.icon-bofang:before {
  content: "\e624";
}
