@font-face {
  font-family: "iconfont";
  /* Project id 3955258 */
  src: url('//at.alicdn.com/t/c/font_3955258_586w9snjdch.woff2?t=1678883980483') format('woff2'), url('//at.alicdn.com/t/c/font_3955258_586w9snjdch.woff?t=1678883980483') format('woff'), url('//at.alicdn.com/t/c/font_3955258_586w9snjdch.ttf?t=1678883980483') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bofang:before {
  content: "\e624";
}
body {
  background-color: #f5f7f9;
}
.pages-nav-bar {
  background-color: #3296fa !important;
}
.pages-nav-bar .van-nav-bar__title {
  color: #fff !important;
}
